* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

#main {
    position: relative;
    overflow: hidden;
}
@font-face {
    font-family:Arial, Helvetica, sans-serif;
    src: url(./jost-variable.ttf);
}
@font-face {
    font-family: cursive;
    src: url(./KFOlCnqEu92Fr1MmEU9fBBc4\ \(1\).ttf);
}
@font-face {
    font-family: cursive;
    src: url(./KFOmCnqEu92Fr1Mu4mxK\ \(1\).ttf);
}
#page1 {
    height: 100vh;
    width: 100vw;
    background-color: red;
    position: relative;
}
#page1>video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}
#page1>nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
   padding: 0px 30px;
    position: absolute;
    height: 10vh;
    width: 100vw;
   
}
#page1>nav>img{
    margin-top: -1.7vw;
    width: 9%;
}
#right-nav>button{
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #0b48ed;
    border: 1px solid #fff;
    color: #fff;
    font-family: a;
    font-size: 16px;
}
.botton-page1{
    position: absolute;
    bottom: 5%;
    height: 35vh;
    width: 50vw;
    
    left: 10%;
}
.botton-page1>h1{
font-family: Arial, Helvetica, sans-serif;
font-size: 5vw;
font-weight: 100;
line-height: 1;
color: #fff;
}
.bottom_inner{
    position: absolute;
    bottom: 0%;
    height: 35%;
    width: 100%;
  
}
.bottom_inner{
display:flex;
align-items: center;
justify-content: space-between;
padding: 0px 30px;
font-family: Arial, Helvetica, sans-serif;
}
.bottom_inner>button{
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    background-color: #fff;
    color: #0b48ed;
    font-weight:16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.bottom_inner>h4{
font-size: 1.3vw;
font-weight: 100;
color: #fff;

}
#page2{
    display: flex;
    align-items: start;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #0a3cce;
    position: relative;
    padding: 0vw 8vw;
    color: #fff;
}
#page2>h2{
    margin-bottom: 3vw;
    font-weight: 100;
}
#page2>h1{
    font-weight: 100;
    line-height: 1.3;
    width: 90%;
    font-size: 4vw;
    color: #dadada69;
} 